<div class="magpale-container" id="magpale_container">

      <div class="avatar-wrapper" id="avatar_wrapper">
        <img
          class="profile-image"
          id="profile_image"
          [src]="image()"
          [alt]="name()" />
      </div>

      <div class="header-text" id="header_text">
        <h2 class="member-name" id="member_name">
          {{ name() }}
        </h2>

        <p class="member-role" id="member_role">
          {{ role() }}
        </p>
      </div>

       @if (isDescriptionVisible()) {
        <div class="bio-section" id="bio_section">
          <p class="description-text" id="description_text">
            {{ description() }}
          </p>
        </div>
    }

    <button
        class="toggle-bio-button"
        id="toggle_bio_button"
        (click)="toggleDescription()">

          @if (isDescriptionVisible()) {
            visibility_off
          } @else {
            visibility
          }


        <span>
          @if (isDescriptionVisible()) {
            Hide Details
          } @else {
            About Me
          }
        </span>

      </button>
</div>